.container input[type=text] {
  height: 15px;
  border: 1px solid darkgrey;
  border-radius: 4px;
    padding: 6px;
    margin-top: 15px;
    margin-right: 16px;
    font-size: 15px;
  }
  .topElement{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .row{
    margin: 5px;
    border: 1px solid darkgrey;
    border-radius: 8px;
}
  